.sign-in {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}
body {
	margin: 0%;
	background-color: rgb(219, 211, 211);
}

.sign-in-container {
	background-color: #1d1f2b;
	width: 300px;
	color: white;
	height: fit-content;
	display: flex;
	flex-direction: column;
	border-radius: 5%;
	border: 1px solid lightgray;
	padding: 20px;
	margin-top: 70px;
}

.sign-in-container > h1 {
	font-weight: 500;
	margin-bottom: 20px;
}

.sign-in-container > form > h5 {
	margin-bottom: 5px;
}

.sign-in-container > form > input {
	height: 30px;
	margin-bottom: 10px;
	background-color: white;
	width: 98%;
}

.sign-in-container > p {
	margin-top: 15px;
	font-size: 12px;
}

.sign-in-button {
	background: #f0c14b;
	border-radius: 2px;
	width: 100%;
	height: 30px;
	border: 1px solid;
	margin-top: 10px;
	border-color: #a88734 #9c7e31 #846a29;
}

.forgot-button {
	border-radius: 2px;
	width: 100%;
	height: 30px;
	border: 1px solid;
	margin-top: 10px;
	border-color: darkgray;
	border-color: #a88734 #9c7e31 #846a29;
}
